/* Adjust the size and position of the map container */
body {
    font-family: "helvetica"
}

.leaflet-container {
    height: 90%; /* 90% of the remaining viewport height after accounting for the top bar */
    top: 10%;
    width: 100%; /* 80% of the viewport width */
    position: fixed; /* Ensure proper positioning */
}


/* Style for the top bar */
.topbar {
    height: 10%; /* 10% of the viewport height */
    width: 100%; /* Full width of the viewport */
    background-color: #191b1a; /* Example background color */
    color: black; /* Text color */
    position: fixed; /* Fixed positioning to stay in place */
    z-index: 999; /* Ensure the top bar appears above other elements */
}
